{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title" style="font-family:openDyslexic;color:#424242; "><h4><i>Dyslexia</i></h4></h2>
  <!--<p class="card-text">Example Django 2.1 / Python 3.7</p>
  <p class="card-text">
    Watch it on <a href="https://www.youtube.com/playlist?list=PLLxk3TkuAYnpm24Ma1XenNeq1oxxRcYFT">YouTube</a> or
    read the <a href="https://simpleisbetterthancomplex.com/tutorial/2016/08/01/how-to-upload-files-with-django.html">Blog Post</a>.
  </p>-->
  <p class="card-text" style="color:#424242;">
    <b>Overview</b>
<br>

Dyslexia is a learning disorder that involves difficulty reading due to problems identifying speech sounds and learning how they relate to letters and words (decoding). Also called reading disability, dyslexia affects areas of the brain that process language.

People with dyslexia have normal intelligence and usually have normal vision. Most children with dyslexia can succeed in school with tutoring or a specialized education program. Emotional support also plays an important role.

Though there's no cure for dyslexia, early assessment and intervention result in the best outcome. Sometimes dyslexia goes undiagnosed for years and isn't recognized until adulthood, but it's never too late to seek help.
Symptoms

Signs of dyslexia can be difficult to recognize before your child enters school, but some early clues may indicate a problem. Once your child reaches school age, your child's teacher may be the first to notice a problem. Severity varies, but the condition often becomes apparent as a child starts learning to read.
<br>
<b>Before school</b>
<br>
<b>Signs that a young child may be at risk of dyslexia include:</b>
<br>
    Late talking
    Learning new words slowly
    Problems forming words correctly, such as reversing sounds in words or confusing words that sound alike
    Problems remembering or naming letters, numbers and colors
    Difficulty learning nursery rhymes or playing rhyming games
<br>
<b>School age</b>
<br>
<b>Once your child is in school, dyslexia signs and symptoms may become more apparent, including:</b>
<br>
    Reading well below the expected level for age
    Problems processing and understanding what he or she hears
    Difficulty finding the right word or forming answers to questions
    Problems remembering the sequence of things
    Difficulty seeing (and occasionally hearing) similarities and differences in letters and words
    Inability to sound out the pronunciation of an unfamiliar word
    Difficulty spelling
    Spending an unusually long time completing tasks that involve reading or writing
    Avoiding activities that involve reading
<br>
<b>Teens and adults</b>
<br>
<b>Dyslexia signs in teens and adults are similar to those in children. Some common dyslexia signs and symptoms in teens and adults include:</b>
<br>
<b>When to see a doctor</b>
<br>
Though most children are ready to learn reading by kindergarten or first grade, children with dyslexia often can't grasp the basics of reading by that time. Talk with your doctor if your child's reading level is below what's expected for his or her age or if you notice other signs of dyslexia.

When dyslexia goes undiagnosed and untreated, childhood reading difficulties continue into adulthood.
    <!--<a href="https://twitter.com/vitorfs">DYSLEXIC</a>-->
  </p>
{% endblock %}
